@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #000926;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    padding: 1% 5% 1% 5%;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img{
    width: 15%;
}

.logo-content{
    overflow-y: hidden;
}

.header-menu{
    display: flex;
    gap: 1.1em;
}

.header-link{
    text-decoration: none;
    transition: 0.5s;
    font-size: 1.2rem;
    color: #fff;
}

.header-link:hover{
    color: #29d1ff;
    text-shadow: 1px 1px 2px #29d1ff;
}

.header-scroll{
    top: 0px;
    background-color: #231f2044;
    backdrop-filter: blur(7px);
    transition: 0.5s;
}

button{
    position: relative;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    padding: 0;
}

.menu-button{
    display: none;
    height: 2.5em;
    font-size: 1.5rem;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    padding: 9% 5% 5% 5%;
}

.introduction{
    color: #fff;
    font-size: 1.5rem;
}

.introduction h2{
    font-size: 5rem;
}

.introduction p{
    font-weight: 200;
}

strong{
    background-image: linear-gradient(to left, #06acff ,#039be5, #2759ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
    font-weight: 700;
}

.top-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;;
    padding: 7% 5% 10% 5%;
}

.title-about{
    display: flex;
    align-items: end;
}

.title-about h2{
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 4px 3px 0px #ffffffb9;
    color: #fff;
}

.title-about p{
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 240px;
    position: absolute;
    color: #ffffffbb;
}

.container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1836;
    border-radius: 15px;
    border-left: 10px solid #192138;
    border-bottom: 8px solid #192138;
    padding: 5%;
    gap: 5%;
    width: 60em;
    margin-left: 3%;
}

.container-about p{
    padding: 1%;
    font-size: 1.2rem;
    font-weight: 200;
    color: #fff;
}

.division{
    background: #fff;
    width: 1%;
    height: 10em;
}

.btn-softcom{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0px 2px 0px #f5d930;
    color: #f5d930;
    transition: 0.5s;
}

.btn-softcom:hover{
    box-shadow: 0px 2px 0px #c2ab28;
    color: #c2ab28;
}

.btn-integra{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0px 2px 0px #f7882d;
    color: #f7882d;
    transition: 0.5s;
}

.btn-integra:hover{
    box-shadow: 0px 2px 0px #ca7129;
    color: #ca7129;
}

.skills-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8em;
    padding: 7% 5% 5% 5%;
}

.title-skills{
    display: flex;
    align-items: end;
}

.title-skills h2{
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 4px 3px 0px #ffffffb9;
    color: #fff;
}

.title-skills p{
    font-size: 1.5rem;
    font-weight: 200;
    color: #ffffffbb;
}

.container-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    gap: 6em;
}

.item-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #090e1f;
    border: 2px solid #6d6d6d;
    border-radius: 10px;
    padding: 3% 1% 3% 1%;
    width: 10em;
    gap: 2em;
    transition: 0.5s;
}

#html:hover{
    border: 2px solid #f16429;
    box-shadow: 0px 3px 10px 1px #f16429;
}

#css:hover{
    border: 2px solid #039be5;
    box-shadow: 0px 3px 10px 1px #039be5;
}

#javascript:hover{
    border: 2px solid #ffc44d;
    box-shadow: 0px 3px 10px 1px #ffc44d;
}

#git:hover{
    border: 2px solid #f03c2e;
    box-shadow: 0px 3px 10px 1px #f03c2e;
}

#github:hover{
    border: 2px solid #3c6ac7;
    box-shadow: 0px 3px 10px 1px #3c6ac7;
}

.skills-item-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-item-image img{
    width: 50%;
    height: auto;
}

.skills-item-text span{
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.mid-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding: 6% 5% 8% 5%;
}

.title-project{
    display: flex;
    align-items: end; 
}

.title-project h2{
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 4px 3px 0px #ffffffb9;
    color: #fff;
}

.title-project p{
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 383px;
    position: absolute;
    color: #ffffffbb;
}

.container-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
    gap: 5em;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-decoration: none;
    overflow-y: hidden;
    border-radius: 8px;
    border: 2px solid #6d6d6d;
    width: 30em;
    transition: 0.5s;
}

.item:hover{
    border: 2px solid #29d1ff;
    box-shadow: 1px 1px 10px 1px #29d1ff;
}

.item span{
    font-size: 2rem;
    font-weight: 700;
    color: #4ed9ff;
    text-shadow: 0px 0px 5px #4ed9ff;
}

.item p{
    font-size: 1.8rem;
    font-weight: 600;
    color: #2759ff;
    text-shadow: 0px 0px 5px #2759ff;
}

.project-item-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.project-item-image img{
    width: 100%;
    height: auto; 
    border: 5px solid transparent;
    border-radius: 10px;
}

.item:hover .project-item-image{
    filter: brightness(50%);
    scale: 1.03;
}

.project-item-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 8px;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: 5%;
    transform: translate(-50%, -50%);
    padding: 1%;
    opacity: 0;
    color: #fff;
    transition: opacity ease-in-out .4s;
    transition: all 0.5s;
}

.item:hover .project-item-text{
    opacity: 1;
}

.project-item-text-image{
    display: flex;
    gap: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 35%;
    transition: 0.5s;
}

.image{
    transition: 0.2s;
}

.image:hover{
    filter: brightness(50%);
}

.bottom-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6%;
}

.title-contact{
    display: flex;
    align-items: end;
}

.title-contact h2{
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 4px 3px 0px #ffffffb9;
    color: #fff;
}

.title-contact p{
    font-size: 1.5rem;
    font-weight: 200;
    color: #ffffffbb;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.form label,
.form input,
.form textarea,
.form button {
    width: 99%;
    background: #090e1f;
    transition: 0.5s;
}

.form label:focus,
.form input:focus,
.form textarea:focus{
    color: #000;
    background: #fff;
}

.form label{
    background: none;
    color: #fff;
    line-height: 1;
}

.form input,
.form textarea{
    font: inherit;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 0.3em;
    margin-bottom: 1em;
    padding: 0.8rem;
    color: #fff;
    transition: border-color 0.5s;
    transition: 0.5s;
    box-shadow: 0.2s;
}

.form textarea{
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    filter: brightness(90%);
    box-shadow: 2px 2px 3px 0px #29d1ff;
}

.form button{
    display: flex;
    justify-content: center;    
    background: transparent;   
    text-transform: uppercase;   
    cursor: pointer;
    color: #fff;
    border: 0.1em solid ;
    border-radius: 10px;
    padding: 1.5%;
    width: 10em;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
}

.form button:hover{
    border: 1px solid #039be5;
    background: linear-gradient(#039be5, #2759ff);
}

.formu{
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    text-align: center;
    overflow-y: hidden;
}

.formu::before{
    display: block;
}

.btn-home {
    position: fixed;
    padding: 1%;
    top: 85%;
    left: 93%;
}

.btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #090e1f;
    border-radius: 10px;
    width: 4em;
    height: 4em;
    transition: 0.5s;
}

.btn-content:hover{
    background: #0e152e;
    transform: translateY(-5%);
}

.img-seta {
    width: 100%;
    margin: 10%;
}

.footer-content{
    text-decoration: none;
    color: #000;
}

footer{
    text-align: center;
    margin-top: auto;
    background-color: #2c4899;
    color: #000;
    padding: 2%;
    font-size: 1.3rem;
    font-weight: 400;
}