@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at 50% -150%, rgba(11, 9, 138, 1) 50%, rgba(0, 0, 0, 1) 67%);
    position: relative;
    font-family: 'League Spartan', sans-serif;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    opacity: 50%;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 2% 4% 2% 4%;
    z-index: 9;
}

.header-scroll {
    top: 0px;
    background-color: #ffffff1b;
    box-shadow: 1px 1px 10px 1px #00000038;
    backdrop-filter: blur(5px);
    transition: 1s;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: #e9e8e8;
}

.header-link::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background-color: #e9e8e8;
    transition: width 0.3s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(0%);
}

.header-link:hover::after {
    width: 100%;
    transform: translateX(0%);
}

.navbar-mobile {
    width: 5%;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.header-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 9%;
}

.header-media svg {
    width: 100%;
    padding: 1%;
    transition: 0.5s;
}

.header-media svg:hover {
    transform: translateY(-5%);
}

.main-banner {
    display: flex;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
}

.title-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    margin: 5% 5% 5% 5%;
}

.title-banner h1 {
    font-size: 3rem;
    color: #fff;
}

.title-banner p {
    font-size: 1.3rem;
    color: #82F0FF;
}

.title-banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 2%;
    margin: 1%;
    background-color: transparent;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    box-shadow: 2px 2px 1px 1px #fff;
    transition: 0.5s;
}

.title-banner a:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 0px 0px;
}

.title-banner h1 strong {
    text-shadow: -3px 3px 1px #0B098A;
}

#svg1 {
    position: absolute;
    transform: translate(-510%, -116%);
}

#svg {
    position: absolute;
    transform: translate(-10%, -20%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.underline {
    background-color: #fff;
    width: 50%;
    height: 1px;
}

.main__action{
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(100%, 100%);
}

.main__scroll{
    text-decoration: none;
}

.main__scroll-text {
    color: transparent;
}

.main__scroll-box svg {
    border: 2px solid #fff;
    border-radius: 30px;
}

.main__action:hover .main__scroll-box {
    animation: scroll-down-hover 3s infinite;
}

.main__scroll-box {
    animation: scroll-down 3s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down-hover {

    0%,
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    35% {
        transform: translateY(1rem);
        opacity: 0;
    }

    70% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

/* Animate scroll icon on hover keyframes */
@keyframes scroll-down {

    0%,
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    50% {
        transform: translateY(0.5rem);
        opacity: 0.5;
    }
}

.banner-project {
    position: relative;
    width: 100%;
    height: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1),
    &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) {
        left: 50%;
    }

    &:nth-child(4) {
        left: calc(50% + 220px);
    }

    &:nth-child(5) {
        left: calc(50% + 440px);
    }

    &:nth-child(6) {
        left: calc(50% + 660px);
        opacity: 0;
    }
}

.content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;

    & .title {
        font-family: 'arial-black';
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
    }

    & .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        padding: 2.5%;
        margin: 1%;
        background-color: transparent;
        border: 1px solid #fff;
        text-decoration: none;
        color: #fff;
        box-shadow: 2px 2px 1px 1px #fff;
        transition: 0.5s;
    }

    & .button:hover {
        background-color: #fff;
        box-shadow: 0px 0px 0px 0px;
        color: #000;
    }
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    user-select: none;

    & .btn {
        background-color: #ffffff4d;
        color: #000;
        border: 2px solid #fff;
        margin: 0 0.25rem;
        padding: 0.75rem;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: #fff;
        }
    }
}

@media (width > 650px) and (width < 900px) {
    .content {
        & .title {
            font-size: 1rem;
        }

        & .description {
            font-size: 0.7rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
            opacity: 0;
        }
    }
}

@media (width < 650px) {
    .content {
        & .title {
            font-size: 0.9rem;
        }

        & .description {
            font-size: 0.65rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 140px);
        }

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
            opacity: 0;
        }
    }
}

.about-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    margin: 10% 5% 5% 5%;
}

.image-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.image-about img {
    width: 100%;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    width: 40%;
}

.text-container h2 {
    font-size: 1.7rem;
    color: #fff;
}

.text-container span {
    font-size: 1.2rem;
    color: #82F0FF;
}

.text-container p {
    color: #fff;
    text-align: end;
    margin-top: 5%;
}

.border {
    background-color: #fff;
    width: 5px;
    height: 250px;
    margin-left: 5%;
}

.text-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin: 4% 1% 1% 1%;
    background-color: transparent;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    box-shadow: 2px 2px 1px 1px #fff;
    transition: 0.5s;
}

.text-container a:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 0px 0px;
}

.text-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.services-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 5% 5% 5%;
}



.contact-page {
    display: flex;
    flex-direction: column;
    padding: 5% 0% 0% 10%;
}

.title-contact {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.title-contact h2 {
    color: #fff;
    font-size: 4rem;
}

.div-contact{
    background-color: #fff;
    margin-left: 5%;
    width: 90%;
    height: 2px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    gap: 10px;
    margin: 2%;
}

.form label {
    color: #fff;
    margin-top: 1.2%;
}

.form input,
.form textarea,
.form button {
    width: 90%;
    background: #FFFEEB;
    transition: 0.5s;
}

.form input,
.form textarea {
    font: inherit;
    border: 1px solid transparent;
    background-color: #0b098a41;
    border: 1px solid #ffffff1c;
    padding: 1%;
    color: #fff;
    transition: all 0.5s;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #ffffff76;
}

.form textarea {
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    filter: brightness(70%);
    box-shadow: 2px 2px 3px 0px #0000006b;
}

.form button {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    background: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1.3%;
    margin-top: 3%;
    margin-bottom: 1%;
    width: 20%;
    border: 1px solid #fff;
    box-shadow: 2px 2px 1px 0px #fff;
    cursor: pointer;
    transition: 0.5s;
}

.form button:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 0px 0px;
}

.formu {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.2;
    text-align: center;
    overflow-y: hidden;
}

.formu::before {
    display: block;
}
